<div class="icon-bar">
  <a
    href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=yuganshdhir608@gmail.com"
    target="_blank"
    class="email"
    ><i class="far fa-envelope"></i
  ></a>
  <a
    href="https://www.linkedin.com/in/yuganshdhir/"
    target="_blank"
    class="linkedin"
    ><i class="fab fa-linkedin"></i
  ></a>
  <a href="https://github.com/yugansh-dhir" class="github" target="_blank"
    ><i class="fab fa-github"></i
  ></a>
  <a
    href="https://www.instagram.com/yuganshdhir/"
    target="_blank"
    class="instagram"
    ><i class="fab fa-instagram"></i
  ></a>
  <a
    href="https://www.facebook.com/yuganshdhir608/"
    class="facebook"
    target="_blank"
    ><i class="fab fa-facebook"></i
  ></a>
  <a href="https://twitter.com/yuganshdhir " class="twitter" target="_blank"
    ><i class="fab fa-twitter"></i
  ></a>
</div>

<footer class="footer py-2 mt-20">
  <span
    ><a href="/">Yugansh Dhir</a> |
    <span class="far fa-copyright"></span> 2021</span
  >
</footer>
<!-- <footer class="footer bg-primary py-2 mt-auto">
  <div class="container">
    <span class="text-white">&copy; Vaccine Availability 2021</span>
  </div>
</footer> -->
