<nav
  class="navbar sticky-top navbar-expand-lg navbar-light bg-danger"
  style="height: 60px"
>
  <div class="container-fluid">
    <a
      class="navbar-brand"
      style="
        font-weight: bold;
        font-size: 35px;
        color: #fff;
        padding-left: 5cm;
        font-family: Ubuntu, sans-serif;
      "
      href="/"
    >
      <img src="images/yuganshLogo.png" width="45" height="45" alt="" />
      YuganshDhir
    </a>
  </div>
</nav>
