<% layout('layouts/boilerplate2')%>
<h1 style="text-align: center">Freelancing</h1>
<div class="container" style="padding-bottom: 6rem">
  <div class="row justify-content-center">
    <div class="card" style="width: 36.3rem; height: 30rem">
      <img class="card-img-top" src="images/fiverr.png" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">Fiverr Profile</h5>
        <p>5 Star Rating</p>
        <a
          href="https://www.fiverr.com/yuganshdhir"
          class="btn btn-danger"
          target="_blank"
          >Visit</a
        >
      </div>
    </div>
    <div class="card" style="width: 36.3rem; height: 30rem">
      <img
        class="card-img-top"
        src="images/freelancer.png"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Freelancer Profile</h5>
        <p class="card-text">5 Star Rating</p>
        <a
          href="https://www.freelancer.com/u/yugansh484"
          target="_blank"
          class="btn btn-danger"
          >Visit</a
        >
      </div>
    </div>
  </div>
</div>
