<% layout('layouts/boilerplate2')%>
<a
  href="https://www.youtube.com/channel/UCMaJa94SGbA9QFccdZj-8Dw?sub_confirmation=1"
  target="_blank"
  class="emailLink"
  style="text-decoration: none"
>
  <h1 style="text-align: center; padding-top: 0.3cm">
    Grow India- YouTube Channel
    <sup><i class="fas fa-external-link-alt"></i></sup>
  </h1>
</a>
<div class="container">
  <div class="row justify-content-center">
    <div class="card" style="width: 36.3rem; height: 31rem">
      <div
        class="embed-responsive embed-responsive-16by9"
        style="margin: 0.2cm 0 0.2cm 0"
      >
        <iframe
          class="embed-responsive-item"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/sbP0ROJIZy0"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="card-body">
        <h5 class="card-title">GROW INDIA | TRAILER</h5>
        <p class="card-text">
          Intro of one of my YouTube channels GROW INDIA. The content of GROW
          INDIA features latest news, political content, funny moments in
          politics and many more.
        </p>
      </div>
    </div>
    <div class="card" style="width: 36.3rem; height: 31rem">
      <div
        class="embed-responsive embed-responsive-16by9"
        style="margin: 0.2cm 0 0.2cm 0"
      >
        <iframe
          class="embed-responsive-item"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/1X38lV9IEto"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          Will You Fight?🔥| Ladakh Military Standoff 2020 | India China border
          dispute
        </h5>
        <p class="card-text">
          All about the India China border dispute near Pangong Lake in Ladakh
          and How can a common man fight against China in this matter? After
          watching this video, you will ask yourself a question WILL YOU FIGHT?
        </p>
      </div>
    </div>
    <div class="card" style="width: 36.3rem; height: 31rem">
      <div
        class="embed-responsive embed-responsive-16by9"
        style="margin: 0.2cm 0 0.2cm 0"
      >
        <iframe
          class="embed-responsive-item"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/IwxITUSi-SU"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          Sita Ram Charit Ati Pawan Full Song ❤ | Ramayan Title Song🔥
        </h5>
        <p class="card-text">
          Ramayan breaks world record, becomes most-watched entertainment show
          globally. Ramanand Sagar directed TV serial 'Ramayan' became the
          world's most-watched show on April 16 with 7.7 Crore viewers.
        </p>
      </div>
    </div>
    <div class="card" style="width: 36.3rem; height: 31rem">
      <div
        class="embed-responsive embed-responsive-16by9"
        style="margin: 0.2cm 0 0.2cm 0"
      >
        <iframe
          class="embed-responsive-item"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/DQyb7b_me1M"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          How Dangerous Could This Be? | Why Are They Fighting? | India China
          Border Dispute turned Violent
        </h5>
        <p class="card-text">
          The military stand-off between India and China on the disputed border
          in Ladakh escalated into deadly clashes.
        </p>
      </div>
    </div>
    <div class="card" style="width: 36.3rem; height: 31rem">
      <div
        class="embed-responsive embed-responsive-16by9"
        style="margin: 0.2cm 0 0.2cm 0"
      >
        <iframe
          class="embed-responsive-item"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/rkuIK-sq0to"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          Covid-19 Updates | Cyclone Nisarga hits Maharashtra | Far away from
          Covid peak: ICMR | Cases spike
        </h5>
        <p class="card-text">
          From the highest single-day spike in Covid-19 cases to the Cyclone
          Nisarga in Mumbai, Maharashtra and Gujrat, here are the top seven
          updates on the pandemic.
        </p>
      </div>
    </div>
    <div class="card" style="width: 36.3rem; height: 31rem">
      <div
        class="embed-responsive embed-responsive-16by9"
        style="margin: 0.2cm 0 0.2cm 0"
      >
        <iframe
          class="embed-responsive-item"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/9gUwDH-T3gc"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          What is Repo Rate? | How does RBI control inflation regulating Repo
          Rate? | RBI Repo Rate definition
        </h5>
        <p class="card-text">
          Repo Rate is one of the most important tools under Liquidity
          Adjustment Facility available with RBI and also have a great
          significant in the life of a common man.
        </p>
      </div>
    </div>
    <div class="card" style="width: 36.3rem; height: 31rem">
      <div
        class="embed-responsive embed-responsive-16by9"
        style="margin: 0.2cm 0 0.2cm 0"
      >
        <iframe
          class="embed-responsive-item"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/62evrF2EdoQ"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          PM Modi's address to the nation June 30, 2020
        </h5>
        <p class="card-text">
          PM Modi to address the nation today at 4:00PM LIVE June 2020 GROW
          INDIA LIVE
        </p>
      </div>
    </div>
    <div class="card" style="width: 36.3rem; height: 31rem">
      <div
        class="embed-responsive embed-responsive-16by9"
        style="margin: 0.2cm 0 0.2cm 0"
      >
        <iframe
          class="embed-responsive-item"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/yXHGdcguRVo"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          Covid-19 update | Negative GDP growth | Harsh Vardhan in WHO board
        </h5>
        <p class="card-text">
          From the highest single-day spike in Covid-19 cases to the negative
          GDP growth expectation by RBI, here are the top seven updates on the
          pandemic.
        </p>
      </div>
    </div>
  </div>
</div>
