<% layout('layouts/boilerplate2')%>
<a
  href="https://www.youtube.com/channel/UCnDIlE-4O5E4_Cd9Dfgr7Fw?sub_confirmation=1"
  target="_blank"
  class="emailLink"
  style="text-decoration: none"
>
  <h1 style="text-align: center; padding-top: 0.3cm">
    Royaltyish- YouTube Channel
    <sup><i class="fas fa-external-link-alt"></i></sup>
  </h1>
</a>
<div class="container">
  <div class="row justify-content-center">
    <div class="card" style="width: 36.3rem; height: 30rem">
      <div
        class="embed-responsive embed-responsive-16by9"
        style="margin: 0.2cm 0 0.2cm 0"
      >
        <iframe
          class="embed-responsive-item"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/BfaA0s_wphM"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          Bella Ciao | Money Heist Part- 5 | Royaltyish [Copyright Free]
        </h5>
        <p class="card-text">
          Bella Ciao Copyright Free Full Song. Ahead of Money Heist Part 5, here
          is the copyright free bella ciao song of money heist. Bella Ciao is
          the title song of Money Heist Season 5.
        </p>
      </div>
    </div>
    <div class="card" style="width: 36.3rem; height: 30rem">
      <div
        class="embed-responsive embed-responsive-16by9"
        style="margin: 0.2cm 0 0.2cm 0"
      >
        <iframe
          class="embed-responsive-item"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/HqGrd8Xl2r0"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          Fredji - Happy Life (Copyright Free Music for Vlog)
        </h5>
        <p class="card-text">
          Best copyright free music for Vlog. You can use this in your You Tube
          Videos freely.
        </p>
      </div>
    </div>
    <div class="card" style="width: 36.3rem; height: 30rem">
      <div
        class="embed-responsive embed-responsive-16by9"
        style="margin: 0.2cm 0 0.2cm 0"
      >
        <iframe
          class="embed-responsive-item"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/YwK3VKmNm3U"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          Ikson - Blue Sky (Copyright Free Vlog Music) | Royaltyish
        </h5>
        <p class="card-text">
          Best non copyrighted music for Vlog and content creators. You can use
          this in your You Tube Videos freely.
        </p>
      </div>
    </div>
    <div class="card" style="width: 36.3rem; height: 30rem">
      <div
        class="embed-responsive embed-responsive-16by9"
        style="margin: 0.2cm 0 0.2cm 0"
      >
        <iframe
          class="embed-responsive-item"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/JhjhMDXXPUo"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          Jarico - Landscape (Copyright Free Vlog Music) | Royaltyish
        </h5>
        <p class="card-text">
          Best non copyrighted music for Vlog and content creators. You can use
          this in your You Tube Videos freely.
        </p>
      </div>
    </div>
  </div>
</div>
