<% layout('layouts/boilerplate2')%>
<h1 style="text-align: center">Video Editing- Work Samples</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="card" style="width: 36.3rem; height: 30rem">
      <div
        class="embed-responsive embed-responsive-16by9"
        style="margin: 0.2cm 0 0.2cm 0"
      >
        <iframe
          class="embed-responsive-item"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/jkSQ6UkX1XM"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="card-body">
        <h5 class="card-title">Promo</h5>
        <p class="card-text">Things I do in Video Editing.</p>
      </div>
    </div>

    <div class="card" style="width: 36.3rem; height: 30rem">
      <div
        class="embed-responsive embed-responsive-16by9"
        style="margin: 0.2cm 0 0.2cm 0"
      >
        <iframe
          class="embed-responsive-item"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/YRDZeA6kblY"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="card-body">
        <h5 class="card-title">Green Screen Editing Promo</h5>
        <p class="card-text">
          This is a simple conversion of green screen to black. Background can
          be converted to any image, video or animation.
        </p>
      </div>
    </div>

    <div class="card" style="width: 36.3rem; height: 30rem">
      <div
        class="embed-responsive embed-responsive-16by9"
        style="margin: 0.2cm 0 0.2cm 0"
      >
        <iframe
          class="embed-responsive-item"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/TH6U320ygtE"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="card-body">
        <h5 class="card-title">Travel Video</h5>
        <p class="card-text">Freelance project.</p>
      </div>
    </div>

    <div class="card" style="width: 36.3rem; height: 30rem">
      <div
        class="embed-responsive embed-responsive-16by9"
        style="margin: 0.2cm 0 0.2cm 0"
      >
        <iframe
          class="embed-responsive-item"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/BfaA0s_wphM"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="card-body">
        <h5 class="card-title">Audio Visualization (Spikes)</h5>
        <p class="card-text">
          This is one of the types of audio visualization.
        </p>
      </div>
    </div>

    <div class="card" style="width: 36.3rem; height: 30rem">
      <div
        class="embed-responsive embed-responsive-16by9"
        style="margin: 0.2cm 0 0.2cm 0"
      >
        <iframe
          class="embed-responsive-item"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/HqGrd8Xl2r0"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="card-body">
        <h5 class="card-title">Audio Visualization (Vibration)</h5>
        <p class="card-text">
          This is one of the types of audio visualization.
        </p>
      </div>
    </div>
  </div>
</div>
