<% layout('layouts/boilerplate2')%>
<h1 style="text-align: center">Web Development- Work Samples</h1>
<div class="container" style="padding-bottom: 6rem">
  <div class="row">
    <div class="card" style="width: 36.3rem; height: 27rem">
      <img class="card-img-top" src="images/vaccine.png" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">Vaccine Setu</h5>
        <p class="card-text">
          This website provides information about Vaccination in India.
        </p>
        <a
          href="https://fathomless-springs-93472.herokuapp.com/"
          class="btn btn-danger"
          target="_blank"
          >Visit Site</a
        >
      </div>
    </div>
    <div class="card" style="width: 36.3rem; height: 27rem">
      <img class="card-img-top" src="images/movie.png" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">Movie Releasing Year</h5>
        <p class="card-text">
          Get the releasing year along with the poster from name of the movie.
        </p>
        <a
          href="https://stunning-kobuk-valley-97463.herokuapp.com/"
          class="btn btn-danger"
          >Visit Site</a
        >
      </div>
    </div>
    <div class="card" style="width: 36.3rem; height: 27rem">
      <img
        class="card-img-top"
        src="images/yelpcamp.png"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Yelp Camp</h5>
        <p class="card-text">Book your campground anywhere in the world.</p>
        <a
          href="https://mysterious-chamber-41427.herokuapp.com/"
          class="btn btn-danger"
          target="_blank"
          >Visit Site</a
        >
      </div>
    </div>
  </div>
</div>
